@import "variables";

hr {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.content {
  h2,h3,h4,h5 {
    margin-top: 2rem;
  }
}

.hover-underline {
  transition: 0.3s;
  &:hover {
    color : $primary !important;
    transition: all 0.3s ease-in-out;
    border-left: 4px solid $blue;
    padding-left: 12px;
  }
}
